header {
    height: 100vh;
    background: url("../images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}
header .container .row {
    padding-top: 35px;
}
header .container .row .box {
    display: flex;
    justify-content: center;
}
li {
    display: block;
}
.container-1 .row .text-header {
    display: flex;
    justify-content: center;
}